<form
  class="w-[80vw] h-[20vh] flex flex-col gap-6 items-center"
  (ngSubmit)="onSubmit()"
>
  <ul class="flex flex-col list-none text-center">
    @for (message of displayMessages(); track $index) {
      <li>
        {{ message }}
      </li>
    }
  </ul>
  @if (showButton()) {
    <button
      class="bg-transparent p-2 border border-ui text-accent shadow-none outline-none rounded-lg cursor-pointer transition-colors focus-visible:outline-none"
    >
      {{ "splashScreen.button" | translate }}
    </button>
  }
</form>
