<div class="w-full flex items-center px-1">
  <section class="flex gap-2 min-w-0">
    @for (item of inventory(); track $index) {
      <img
        [alt]="`items.${item}` | translate"
        [src]="`/assets/icons/${item}.svg`"
        [title]="`items.${item}` | translate"
        height="22px"
        width="22px"
        class="flex-shrink-0"
      />
    }
  </section>

  <section class="flex gap-2 ml-auto flex-shrink-0 items-center">
    @for (heart of playerHearts(); track $index) {
      <img
        [alt]="('alt.playerStatus.heartIcon' | translate) + heart"
        src="/assets/icons/heart.svg"
        height="15px"
        width="15px"
        class="flex-shrink-0"
      />
    }
  </section>
</div>
